@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* font-family: 'Bebas Neue', cursive; */

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}




body {
    height: 100vh;
    background: url(../img/bg-main.jpg) no-repeat;
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
}

.container {
    width: 1800px;
    margin: 0 auto;
}

/* header */
header {
    border-bottom: 1px solid #ccc;
    height: 100px;
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {}

header .container .logo a {}

header .container .logo a img {}

header .container .menu_wrap {}

header .container .menu_wrap ul {
    display: flex;
    width: 1000px;
    padding-top: 12px;
    justify-content: space-between;
    font-size: 28px;
}

header .container .menu_wrap ul li {}

header .container .menu_wrap ul li a {}

header .container .search {}

header .container .search a {}

header .container .search a i {
    font-size: 20px;
}

/* main */
.main {
    margin-top: 5%;
}

.main .slick-slide {
    display: flex;
    position: relative;
}

.left_area {
    width: 60%;
    height: 80vh;
}

.left_area .nike_img {
    box-sizing: border-box;
    padding-top: 140px;
    width: 100%;
}

.main .slick-active .left_area .nike_img {
    animation: fadeInR 0.9s 0.9s both;
}

.left_area .nike_img img {
    width: 100%;
}

.left_area .nike_tit {
    position: absolute;
    left: 105px;
    top: 100px;
    z-index: -1;
}

.main .slick-active .left_area .nike_tit {
    animation: fadeInL 0.9s 0.9s both;
}

.left_area .nike_tit h2 {
    font-size: 260px;
    color: #fff;
    letter-spacing: 40px;
    line-height: 210px;
}

.left_area .nike_tit p {
    font-size: 40px;
    color: #fff;
    letter-spacing: 28px;
    text-align: right;
}





.right_area {
    width: 40%;
    height: 80vh;
    padding-top: 12%;
    padding-left: 3%;
    box-sizing: border-box;
    color: #fff;
}


.right_area .right_tit {
    position: relative;
    line-height: 65px;
}

.right_area .right_tit h2 {
    font-size: 90px;
    font-style: italic;
    texttransform: uppercase;
}

.right_area .right_tit .star {
    position: absolute;
    left: 141px;
    top: 10px;
    color: rgba(255, 174, 0, 0.983);
    letter-spacing: 7px;
    font-size: 30px;
}

.right_area .right_tit .star i:last-child {
    color: #fff;
}

.right_area .right_tit p {
    font-size: 45px;
}

.main .slick-active .right_area .right_tit {
    animation: fadeInL 0.9s 0.9s both;
}


.right_area .middle_txt {
    font-size: 18px;
    font-family: none;
}

.right_area .middle_txt p {
    line-height: 3;
}

.right_area .middle_txt ul {
    margin-top: 10px;
}

.right_area .middle_txt ul li {
    position: relative;
}

.right_area .middle_txt ul li i {
    color: rgba(255, 174, 0, 0.983);
    font-size: 13px;
}

.right_area .middle_txt ul li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -30px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}

.main .slick-active .right_area .middle_txt {
    animation: fadeInR 0.9s 0.9s both;
}

.right_area .botoom_area {
    width: 45%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_area .botoom_area .size_btn {
    background-color: rgba(255, 174, 0, 0.983);
    height: 20%;
}

.right_area .botoom_area .size_btn a {
    display: block;
    padding: 0px 10px;
    font-size: 24px;
    color: #000;
    
}

.right_area .botoom_area .size_btn a i {
    font-size: 15px;
}

.right_area .botoom_area .cart_btn {
    border: 2px solid #fff;
    font-size: 20px;
}

.right_area .botoom_area .cart_btn a {
    display: block;
    padding: 8px 30px;
}

.right_area .botoom_area .price {}

.right_area .botoom_area .price span {
    font-size: 35px;
}

.main .slick-active .botoom_area .size_btn {
    animation: fadeInL 0.9s 0.9s both;
}

.main .slick-active .botoom_area .cart_btn {
    animation: fadeInB 0.9s 0.9s both;
}

.main .slick-active .botoom_area .price {
    animation: fadeInR 0.9s 0.9s both;
}



.main .slick-arrow {
    position: absolute;
    left: -2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    visibility: hidden;
}

.main .slick-arrow.slick-prev:after {
    content: "\f053";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    visibility: visible;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 15px;
    border-radius: 3px;
}

.main .slick-arrow.slick-next {
    left: auto;
    right: -2%;
}

.main .slick-arrow.slick-next:after {
    content: "\f054";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    visibility: visible;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 15px;
    border-radius: 3px;
}










/*애니메이션*/
@keyframes fadeInR {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeInL {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeInB {
    0% {
        transform: translateY(150%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}